$contents-margin: 200px;
$responsive-contents-margin: 0px;
@mixin responsive()
{
    #content
    {
        @include display-flex-column();
        #main
        {
            width: 100%;
            @include display-flex-column();
            margin-left: $responsive-contents-margin;
        }
        #aside
        {
            width: 100%;
            margin-top: 20px;
            margin-right: $responsive-contents-margin;
        }
    }
}
#content
{
    @include display-flex-row();
    #main
    {
        width: 50%;
        @include display-flex-column();
        margin-left: $contents-margin;

        .content
        {
            margin-top: 10px;
        }
        
        #down
        {
            background: $nav-bg-color;
            color: $text-color;
        }
    }
    #aside
    {
        width: 20%;
        background: $nav-bg-color;
        color: $text-color;
        margin-right: $contents-margin;
    }
    .pad
    {
        padding: 10px;
    }
}

@media screen and (max-width: 700px)
{
   @include responsive();
}

@media screen and (min-width: 700px) and (max-width: 900px)
{
    @include responsive();
}

@media screen and (min-width: 900px) and (max-width: 1024px)
{
    #content
    {
        #main
        {
            margin-left: 100px;
        }
        #aside
        {
            margin-right: 100px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px)
{
    #content
    {
        #main
        {
            margin-left: 100px;
        }
        #aside
        {
            margin-right: 100px;
        }
    }
}
