#content
{
    @include display-flex-row();
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
    .col{
        top: 0;
        width: 33%;
        @include display-flex-column();
        img
        {
            height: 200px;
        }
        p
        {
            text-align:  $align-center;
        }
    }
}

@media screen and (max-width: 700px)
{
   #content
   {
        @include display-flex-column();
       .col
       {
            width: 90%;
            @include display-flex-column();
            p
            {
                text-align: $align-center;
            }
       }
   }
}