$input-width: 100%;
$input-margin-top: 3px;
$responsive-width: 100%;
%button-style
{
    color: $text-color;
    background: $color_brown;
    width: 100px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 10px;
}
@mixin responsive-content()
{
    #content
   {
        @include display-flex-column();
        #main
        {
            width: $responsive-width;
            margin-left: 0px;
        }
        #form
        {
            margin-top: 3px;
            width: $responsive-width;
            margin-right: 0px;
            #in-form
            {
                input[type=submit]
                {
                    width: $responsive-width;
                }
            }
        }
   }
}

@mixin set-margin($left, $right)
{
    #content
    {
        #main
        {
            margin-left: $left;
        }

        #form
        {
            margin-right: $right;
        }
    }
}

#content
{
    @include display-flex-row();
    #main
    {
        @include display-flex-column-start();
        width: 60%;
        margin-left: 120px;
       
        #title
        {
            padding: 15px;
        }
        .service
        {
            margin-top: 5px;
            background: #e7e7e7;
            border: 1px solid #e7e7e7;

            .container
            {
                padding: 20px;
            }
        }
    }

    #form
    {
        width: 25%;
        position: relative;
        top: 10;
        background: $nav-bg-color;
        color: $text-color;
        margin-right: 100px;

        #in-form
        {
            padding: 15px;
            height: 400px;
            input[type=text]
            {
                margin-top: $input-margin-top;
                width: $input-width;
            }
            textarea
            {
                margin-top: $input-margin-top;
                width: $input-width
            }
            input[type=submit]
            {           
                color: $text-color;
                width: 100px;
                background: $color_brown;
                font-size: 14px;
                border: none;
                cursor: pointer;
                margin-left: 3px;
                padding: 10px;
            }
        }
    }

}

@media screen and (max-width: 700px)
{
    @include responsive-content();
}

@media screen and (min-width: 700px) and (max-width: 900px)
{
    @include responsive-content();
}

@media screen and (min-width: 900px) and (max-width: 1300px)
{
    @include set-margin(40px, 30px);
}

@media screen and (min-width: 1300px) and (max-width: 1600px)
{
    @include set-margin(60px, 50px);
}



