#footer
{

    width: 100%;
    background-color:  #7c6050;
    height: 60px;
    text-align: center;
    p 
    {
        font-weight: bold;
        color: white;
        padding: 20px;
    }
    
    
}