/* Add the background color to the top navigation */
$nav-bg-color: #3b3e45;
$text-color: white;
$align-center: center;
$nav-height: 100px;

$color_brown: #7c6050;
$body-color: #f4f7fb;

%text-align-and-margin
{
    text-align: $align-center;
    margin-top: 10px;
}

%nav-base-style
{
    @extend %text-align-and-margin;
}

%nav-background-style
{
    background-color: $nav-bg-color;
}

%left-nav-style
{
    width: 30%;
    margin-top: 10px;
    @extend %nav-base-style;
}
%right-nav-style
{
    width: 40%;
    color: $text-color;
    font-size: 20px;
    @extend %nav-base-style;
}

@mixin display-flex-row()
{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
@mixin display-flex-column()
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

@mixin display-flex-column-wrap() {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
}

@mixin display-flex-column-start() {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
}

@mixin header-base-style()
{
    #topnav
    {
        @extend %nav-background-style;
        height: $nav-height;
        @include display-flex-row();
        /* Style the links inside the navbar */
        .top-left-nav
        {
            @extend %left-nav-style;
            a
            {
                float: left;
                color: #f2f2f2;
                text-align: $align-center;
                padding: 18px 18px;
                text-decoration: none;
                font-size: 17px;

                &:hover{
                    background-color: $color_brown;
                    color: $text-color;
                }

                &.active
                {
                    color: $color_brown; 

                    &:hover
                    {
                        color: $text-color;
                    }
                }
            }
        }
        .top-right-nav
        {
            @extend %right-nav-style;
            a
            {
                color: $text-color;
                text-decoration: none;
                h1 
                {
                    .text-color-brown
                    {
                        color: $color_brown;
                    }
                }
            }
        }
    }


    .line
    {
        width: 100%;
        height: 5px;
        background-color: $color_brown;
    }
    .image-text
    {
        color: $text-color;
        position: absolute;
        width: 100%;
        padding: 20px;
        text-align: $align-center;
        font-size: 36px;
        p
        {
            text-align: $align-center;
            width:  90%;
            font-size: 17px;
        }
    }
    #sub-nav
    {
        @extend %nav-background-style;
        height: $nav-height;
        @include display-flex-row();

        .sub-left-nav
        {
            @extend %left-nav-style;
            input[type=text]
            {
                width: 300px;
                padding: 9px;
            }
            button
            {
                color: $text-color;
                background: $color_brown;
                font-size: 14px;
                border: none;
                cursor: pointer;
                margin-left: 3px;
                padding: 10px;
            }
        } 

        .sub-right-nav
        {
            @extend %right-nav-style;
            margin-top: 10px;;
            
        }
    }
}
@mixin header-base-change()
{
    $width: 100%;
    #topnav
    {
        @include display-flex-column-wrap();
       .top-left-nav
        {
            width: $width;
        }
        .top-right-nav
        {
            width: $width;
        }
    }

    #sub-nav
    {
        @include display-flex-column-wrap();
        .sub-left-nav
        {
            width: $width;
        }
        .sub-right-nav
        {
            width: $width;
        
        }
    }
}

body
{
    background-color: $body-color;
    font-family: Arial, Helvetica, sans-serif;
    #header
    {
        background-image: url("../../images/showcase.jpg"); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include header-base-style();
        #sub-nav
        {
            margin-top: 300px;
        }
    }
    #header-a-s
    {
        @include header-base-style();
    }
}

@media screen and (max-width: 700px)
{
    #header
    {
        @include header-base-change();
        .image-text
        {
            position: relative;
            right: 0;
            left: 1;
            width: 50%;
            p
            {
                display: none;
            }
        }
    }

    #header-a-s
    {
        @include header-base-change();
    }
}

