/* Add the background color to the top navigation */
body #header #topnav .top-left-nav, body #header #sub-nav .sub-left-nav, body #header-a-s #topnav .top-left-nav, body #header-a-s #sub-nav .sub-left-nav, body #header #topnav .top-right-nav, body #header #sub-nav .sub-right-nav, body #header-a-s #topnav .top-right-nav, body #header-a-s #sub-nav .sub-right-nav {
  text-align: center;
  margin-top: 10px; }

body #header #topnav, body #header #sub-nav, body #header-a-s #topnav, body #header-a-s #sub-nav {
  background-color: #3b3e45; }

body #header #topnav .top-left-nav, body #header #sub-nav .sub-left-nav, body #header-a-s #topnav .top-left-nav, body #header-a-s #sub-nav .sub-left-nav {
  width: 30%;
  margin-top: 10px; }

body #header #topnav .top-right-nav, body #header #sub-nav .sub-right-nav, body #header-a-s #topnav .top-right-nav, body #header-a-s #sub-nav .sub-right-nav {
  width: 40%;
  color: white;
  font-size: 20px; }

body {
  background-color: #f4f7fb;
  font-family: Arial, Helvetica, sans-serif; }
  body #header {
    background-image: url("../../images/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    body #header #topnav {
      height: 100px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      /* Style the links inside the navbar */ }
      body #header #topnav .top-left-nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 18px 18px;
        text-decoration: none;
        font-size: 17px; }
        body #header #topnav .top-left-nav a:hover {
          background-color: #7c6050;
          color: white; }
        body #header #topnav .top-left-nav a.active {
          color: #7c6050; }
          body #header #topnav .top-left-nav a.active:hover {
            color: white; }
      body #header #topnav .top-right-nav a {
        color: white;
        text-decoration: none; }
        body #header #topnav .top-right-nav a h1 .text-color-brown {
          color: #7c6050; }
    body #header .line {
      width: 100%;
      height: 5px;
      background-color: #7c6050; }
    body #header .image-text {
      color: white;
      position: absolute;
      width: 100%;
      padding: 20px;
      text-align: center;
      font-size: 36px; }
      body #header .image-text p {
        text-align: center;
        width: 90%;
        font-size: 17px; }
    body #header #sub-nav {
      height: 100px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center; }
      body #header #sub-nav .sub-left-nav input[type=text] {
        width: 300px;
        padding: 9px; }
      body #header #sub-nav .sub-left-nav button {
        color: white;
        background: #7c6050;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-left: 3px;
        padding: 10px; }
      body #header #sub-nav .sub-right-nav {
        margin-top: 10px; }
    body #header #sub-nav {
      margin-top: 300px; }
  body #header-a-s #topnav {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /* Style the links inside the navbar */ }
    body #header-a-s #topnav .top-left-nav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 18px 18px;
      text-decoration: none;
      font-size: 17px; }
      body #header-a-s #topnav .top-left-nav a:hover {
        background-color: #7c6050;
        color: white; }
      body #header-a-s #topnav .top-left-nav a.active {
        color: #7c6050; }
        body #header-a-s #topnav .top-left-nav a.active:hover {
          color: white; }
    body #header-a-s #topnav .top-right-nav a {
      color: white;
      text-decoration: none; }
      body #header-a-s #topnav .top-right-nav a h1 .text-color-brown {
        color: #7c6050; }
  body #header-a-s .line {
    width: 100%;
    height: 5px;
    background-color: #7c6050; }
  body #header-a-s .image-text {
    color: white;
    position: absolute;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 36px; }
    body #header-a-s .image-text p {
      text-align: center;
      width: 90%;
      font-size: 17px; }
  body #header-a-s #sub-nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    body #header-a-s #sub-nav .sub-left-nav input[type=text] {
      width: 300px;
      padding: 9px; }
    body #header-a-s #sub-nav .sub-left-nav button {
      color: white;
      background: #7c6050;
      font-size: 14px;
      border: none;
      cursor: pointer;
      margin-left: 3px;
      padding: 10px; }
    body #header-a-s #sub-nav .sub-right-nav {
      margin-top: 10px; }

@media screen and (max-width: 700px) {
  #header #topnav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center; }
    #header #topnav .top-left-nav {
      width: 100%; }
    #header #topnav .top-right-nav {
      width: 100%; }
  #header #sub-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center; }
    #header #sub-nav .sub-left-nav {
      width: 100%; }
    #header #sub-nav .sub-right-nav {
      width: 100%; }
  #header .image-text {
    position: relative;
    right: 0;
    left: 1;
    width: 50%; }
    #header .image-text p {
      display: none; }

  #header-a-s #topnav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center; }
    #header-a-s #topnav .top-left-nav {
      width: 100%; }
    #header-a-s #topnav .top-right-nav {
      width: 100%; }
  #header-a-s #sub-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center; }
    #header-a-s #sub-nav .sub-left-nav {
      width: 100%; }
    #header-a-s #sub-nav .sub-right-nav {
      width: 100%; } }
#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  margin-top: 20px; }
  #content .col {
    top: 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }
    #content .col img {
      height: 200px; }
    #content .col p {
      text-align: center; }

@media screen and (max-width: 700px) {
  #content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }
    #content .col {
      width: 90%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center; }
      #content .col p {
        text-align: center; } }
#footer {
  width: 100%;
  background-color: #7c6050;
  height: 60px;
  text-align: center; }
  #footer p {
    font-weight: bold;
    color: white;
    padding: 20px; }

/*# sourceMappingURL=style.css.map */
